
.card-book-img-top {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-book-body {
  padding: 20px;
  background-color: whitesmoke;
}

.card-book-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: overline;
    margin-bottom: 10px; 
  }
f  

.card-book-author {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: end;
  text-decoration: overline;
}

.card-book-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-book-button:last-child {
  background-color: #76b5c5;
  border: 2px solid #76b5c5;;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 14px;
  transition: background-color 0.3s ease;
}

.card-book-button:last-child:hover {
  background-color: #76b5c5;;
  border-color: #76b5c5;;
}






